.theme-switcher {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.theme-button {
    font-size: 1.5rem;
    cursor: pointer;
    color: inherit;
}

.theme-button i {
    transition: color 0.3s ease;
}